<% form_remote_for @category, :url => subcategories_path(@category), :html => { :id => 'subcategory_edit' } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= select_new_subcategory_tag('other_id', @category) %>
    <%= f.submit t(:update) %>
  </p>
<% end %>
